#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_BUILD_ARCH    ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

LIBDIR = /usr/lib/$(DEB_HOST_MULTIARCH)
BUILD_DIR = build-qt6

%:
	dh $@ --parallel --buildsystem=qmake6

override_dh_auto_install:
	dh_auto_install $@ --buildsystem=qmake6

	$(MAKE) -C $(BUILD_DIR) install INSTALL_ROOT=$(CURDIR)/debian/tmp
	sed -i 's|^Requires: dtkcore$$|Requires: dtk6core|' \
		$(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/dtk2widget.pc
	# 使用-L${libdir}强行指定dtk2widget
	sed -i 's|^Libs: -ldtk2widget|Libs: -L$${libdir} -ldtk2widget|' \
		$(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/dtk2widget.pc

